<mat-toolbar color="primary" class="mat-elevation-z8">

  <span>MovieStream</span>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>
  <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      <button mat-button routerLink="/">Home</button>
      <button mat-button routerLink="/movies">Movies</button>
      <button mat-button routerLink="/tvshows">Tv Shows</button>
      
  </div>

  <span class="fill-remaining-space"></span>

  <button mat-button>
    
    <mat-icon>search</mat-icon>
   </button>

  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
   <mat-icon>menu</mat-icon>
  </button>

</mat-toolbar>

<mat-menu x-position="before" #menu="matMenu">
      <button mat-button routerLink="/">Home</button>
      <button mat-button routerLink="/about">About</button>
      <button mat-button routerLink="/movies">Movies</button>
      <button mat-button routerLink="/tvshows">Tv Shows</button>
      
  <!--<button mat-menu-item>Help</button>-->
</mat-menu>
