<div class="container">

    <div  fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap.xs="3vh" >
     
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>Daniel Perez</mat-card-title>
              <mat-card-subtitle>Developer</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../../../assets/images/IMG_0105.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                I am currently seeking web development opportunities checkout my LinkedIn and Github. 
              </p>
            </mat-card-content>
            <mat-card-actions>
              <a href="https://www.linkedin.com/in/dperez316"><button mat-button>LinkedIn</button></a>
              <a href="https://github.com/dpere316"><button mat-button>GitHub</button></a>
            </mat-card-actions>
          </mat-card>
    </div>
    
  </div>

