
.content{
    padding: 16px;
    margin: 0px;
  }

  div.content.ng-star-inserted[style]{
    margin: 0px !important;
  }

  img:first-child{
    margin-top: 0px;
  }

  mat-card {
    margin-top: 7vh;
    margin-bottom: 6vh;
  }